@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #FF5757;
  --color-secondary: #ffffff;
  --color-tertiary: #FF2E2E;
  --color-fortext: #3b3b3b;
}